---
---
<div class="dark-icon svg-btn" id="themeToggle">
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="1.5"><circle cx="12" cy="12" r="5"/><path stroke-linecap="round" d="M12 2v2m0 16v2M4 12H2m20 0h-2m-.222-7.777l-2.222 2.031M4.222 4.223l2.222 2.031m0 11.302l-2.222 2.222m15.556-.001l-2.222-2.222"/></g></svg>
</div>

<style type="text/css">
	svg {
		transform: translateY(3px);
		margin-right: 1rem;
	}
</style>

<script type="text/javascript">
	const theme = (() => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
			return 'dark';
		}
		return 'light';
	})();

	// if (theme === 'light') {
	// 	document.getElement.classList.remove('dark');
	// } else {
	// 	document.getElement.classList.add('dark');
	// }
	
	if (theme === 'light') {
		document.querySelector('.app').classList.remove('dark');
	} else {
		document.querySelector('.app').classList.add('dark');
	}

	window.localStorage.setItem('theme', theme);

	const handleToggleClick = () => {
		// const element = document.querySelector('.app');
		// element.classList.toggle('dark');

		const element = document.querySelector('.app');
    	element.classList.toggle("dark");

		const isDark = element.classList.contains('dark');
		localStorage.setItem('theme', isDark ? 'dark' : 'light');
	}

	document.getElementById('themeToggle').addEventListener('click', handleToggleClick);
</script>