---
// styles
import '../styles/reset.css';
import '../styles/global.css';

// components
import Header from '../components/header/Header.astro'

const { pageTitle = 'astro-solid' } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon-bolt.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="app">
		<Header />
		<h2>{pageTitle}</h2>
		<slot />
		<script>
			import '../scripts/menu.js';
			import '../scripts/darkmode.js';
		</script>
	</body>
</html>

<style>
	.app {
		width: 98%;
		margin: 0 auto;
	}
</style>